[submodule "excons"]
	path = excons
	url = git://github.com/gatgui/excons.git
[submodule "gnet"]
	path = gnet
	url = git://github.com/gatgui/gnet.git
[submodule "gcore"]
	path = gcore
	url = git://github.com/gatgui/gcore.git
